@charset "UTF-8";

@media (min-width: 1025px){
	#dialog {
		position: absolute;	
		background-color: #FFFFFF;
		width: 550px;
	}
	
	#dialog td {
		padding: 5px;
	}
	
	
	.dialog_title {
		font-weight: bold;
		font-size: 20pt;
		text-align: center;
		background-color: #F3F3F4;
		
	}
	
	.dialog_span {
		font-size: 12px;
	    padding-right: 50px;
	}
	
	.dialog_right {
		text-align: right;
	}
	
	.dialog_radius {
		border-radius: 15px;
	}
	
	.dialog_padding5 {
		padding: 10px;
	}
	
	.reSend {
		background: #3f3ffb;
	    height: 50px;
	    width: 150px;
	    text-align: center;
	    line-height: 50px;
	    display: inline-block;
	    vertical-align: middle;
	    border-radius: 10px;
	}
	
	.reSend:hover {
		cursor: pointer;
	}
	
	.dialog_cancel:hover {
		cursor: pointer;
	}
	
	.dialog_alert {
		background-color: #ff3b3b;
		padding: 50px;
	}
}