@charset "UTF-8";

@media (min-width: 1025px) {
	.write_whole {
		width: 80%;
	    margin-left: 10%;
	    margin-right: 10%;
	}
	
	.write_input {
		width: 100%;
	}
	
	.textarea {
		overflow-x:auto; 
		min-height: 350px; 
		border: solid 1px; 
		line-height: 20px; 
	}
}