@charset "UTF-8";

@media (min-width: 1025px) {
	#introduction {
		height: 600px;
		width: 100%;
		padding-top: 200px;
		text-align: center;
	}
	
	#introduction > img {
		width: 500px;
		height: 200px;
	}
	
	#policy_div {
		height: 600px;
		width: 100%;
		text-align: center;
		padding-top: 150px;
	}
	
	#tos_p {
		padding-left: 15px;
	}
}