@charset "utf-8";

/* 초기화 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    word-break: keep-all;
}

@media (min-width: 1025px) {
	/* 헤더 */
	#indexHeader{
	    width: 100%;
	    height: 70px;
	    background: linear-gradient(45deg, rgb(0, 128, 192), aqua);
	    display: block;
	    top: 0px;
	    position: fixed;
	    z-index: 100;
	}
	
	/* 헤더 메뉴들  */
	
	#index_logo {
	    position: absolute;
	    width: 400px;
	    height: 70px;
	    top: 0px;
	    left: calc(10% - 100px);
	}
	
	#index_menu_bar {
	    position: absolute;
	    top: 0;
	    right: 0;
	    height: 90px;
	    width: 500px;
	    line-height: 65px;
	}
	
	#index_menu_bar > a {
		display: inline-block;
		color: white;
		text-align: center;
		vertical-align: middle;
		font-size: 15px;
		border: thin solid white;
		border-radius: 7.5px;
		line-height: 250%;
		width: 120px;
	}
	
	#index_menu_bar > label {
		display: inline-block;
		color: white;
		text-align: center;
		vertical-align: middle;
		font-size: 15px;
		line-height: 250%;
		width: 120px;
	}
	
	#index_menu_bar > a:hover {
		background-color: #5bffdd;
	}
	
	#index_menu_bar > span {
		display: inline-block;
	    width: 1px;
	    height: 9px;
	    background-color: black;
	    margin: 1px;
	}
	
	/* 메뉴바 + 섹션(컨텍스트) */
	
	#index_div {
		width: 100%;
		background: #ebeef1;
		display: block;
		font-size: 0px;
		margin-top: 70px;
	}
	
	#nav {
		width: 200px;
		height: 450px;
		background-color: blue;
		display: inline-block;
		position: fixed;
		font-size: medium;
		top: 110px;
	}
	
	#content {
	    width: 70%;
	    display: inline-block;
	    vertical-align: top;
	    font-size: medium;
	    margin-left: 200px;
	}
	
	#add {
	    width: calc(30% - 200px);
	    height: 600px;
	    background-color: black;
	    display: inline-block;
	    vertical-align: top;
	}
	
	#add > a > img {
		width: 100%;
		height: 100%;
	}
	
	/* 푸터  */
	
	footer {
	    width: 100%;
	    height: 200px;
	    display: block;
	}
	
	#policy {
		height: 30%;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
		background-color: #e4e4e4;
	}
	
	#pol_ul {
		margin-left: 200px;
		line-height: 60px;
	}	
	
	#pol_ul > li {
		display: inline-block;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	#pol_ul > li > a {
		color: #3b3b3b;
	}
	
	#pol_ul > span {
		width: 1px;
		height: 9px;
		background-color: black;
		display: inline-block;
	}
	
	#info {
		height: 70%;
	}
	
	#company {
		width: calc(70% - 200px);
	    margin-left: 200px;
	    height: 100%;
	    padding: 50px;
	    padding-left: calc(20% - 150px);
	    display: inline-block;
	    vertical-align: top;
	}
	
	#sns {
		display: inline-block;
		width: 25%;
		height: 100%;
		line-height: 200px;
	}
}
