@charset "utf-8";

/* 초기화 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* 헤더 */
header{
    width: 100%;
    height: 100px;
    background-color: red;
    display: block;
}

/* 헤더 메뉴들  */

#index_logo {
	position: absolute;
	width: 400px;
    height: 100px;;
    top:0px;
    left: 5%;
}

#index_menu_bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 500px;
    line-height: 95px;
}

#index_menu_bar > a {
    display: inline-block;
    color: black;
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

#index_menu_bar > span {
	display: inline-block;
    width: 1px;
    height: 9px;
    background-color: aqua;
}

/* 메뉴바 + 섹션(컨텍스트) */

#index_div {
	width: 100%;
	height: 1000px;
	background: yellow;
	display: block;
	font-size: 0px;
}

#index_div > nav {
    width: 25%;
    height: 400px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}

#index_div > section {
    width: 75%;
    height: 1000px;
    background-color: green;
    display: inline-block;
    vertical-align: top;
    font-size: medium;
}

/* 푸터  */

footer {
    width: 100%;
    height: 100px;
    background-color: aqua;
    display: block;
}